
.icon-download:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */